ion-checkbox {
    font-size: 1.2rem !important;
}

h2 {
    margin-top: 15px !important;
    margin-bottom: 12px !important;
    font-weight: bold !important;
    font-size: large !important;
}

.competition-check-box {
    font-size: 0.9rem !important;
}

.team-check-box {
    font-size: 0.9rem !important;
}