:root {
    color-scheme: light dark;
}

.feed-title-row {
    /* background-color: black; */
    background-color: light-dark(white, black);
    color: light-dark(rgb(14, 14, 14), darkgray);
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.feed-title {
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
}